<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:height="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spring Example</title>
        <link type="text/css" th:href="@{/css/main.css}" rel="stylesheet" />        <title>Hello World!</title>

    </head>
    <body>
        <h1>Welcome!</h1>
        
        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
        <div class="row text-center">
            <img th:src="@{/images/Eynshteyn.jpg}"/>
        </div>
        <div id="footer">
            <div class="copyright" style="position:fixed; bottom:20px; left:20px;">

                <h3 align="center">Copyright &#169; 2016 4FinanceIT </h3>

            </div>
        </div>

    </body>
</html>